@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Opa, estou aprendendo HTML!</h1>    
</div>
<br><br>
<div class="text-center">
    <h5 class="display-12">Nesse treinamento da Gama Academy, espero conseguir aprender bastante e poder<br>
    criar minhas próprias páginas web sozinha!</h5>
</div>